* {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

.container
{
	max-width: 1200px;
}

.navbar {
	text-align: center;
}
		.navbar ul li {
		    display: block;
		    padding: 5px 10px;
		}

					.dropdown-menu {
						text-align: center;
						float: none;
		    			width: 100%;

					}

				footer ul li a,
				.navbar ul li a {
					text-decoration: none;
					color: #000;
				}

.navbar .navbar-toggle .icon-bar {
    background-color: black;
}


footer hr{
	border-top: 0.2em solid #EDA08C;
}


.go-btn
{
	text-align: center;
	margin-top: 5px;
	margin-bottom: 10px;
}
.go-btn button
{
	border: 0.3em solid #EDA08C;
	border-radius: 0px;
	background-color: transparent;
	font-weight: bold;
}
/* --------------------------------------- home css --------------------------------------- */

#featproducts .col-xs-12.col-sm-4,
#instahome .col-xs-12.col-sm-4
{
	padding-left: 2px;
	padding-right: 2px;
	margin-top: 25px; 
}
#featproducts .col-xs-12.col-sm-4 img,
#instahome .col-xs-12.col-sm-4 img
{
	padding-bottom: 10px;
}
.carousel-example-generic,
#featproducts,
#instahome
{
	margin: 20px 0;
}


/* --------------------------------------- sm min width css --------------------------------------- */

@media (min-width: 768px) {

	.navbar ul li {
		    display: inline-block;
		}
					.dropdown-menu {
						text-align: center;
						float: none;
		    			position: absolute;
		    			width: 100%;

					}
}


